<!DOCTYPE html>
<html>
<head>
  <title>Kmeans</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
</head>
<body>
  <h4>Below is the best place to place a Restaurants accoring to the kmeans algorithim.<h4>
    <p>These picked locations are the ones who are in the optimal locations based on properties.
      We recomend you to check on the crimes around the area as well so you can find the best region
      to place your future business.
      <p>
        <p><a href="/crimes">Interactive Crimeheatmaps</a></p>
  <div id="map" style="width: 1000px; height: 600px"></div>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script>
    var bos = { "type": "FeatureCollection", "features": [
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07795266, 42.27212294] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[ -71.09265066, 42.26879219] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10309021, 42.2701646] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.09726628, 42.2760713] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[ -71.09740657, 42.27784541] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10814943, 42.33542556] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.098235, 42.32769117] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10998641, 42.32983909] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10950173, 42.32493645] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10915836, 42.32506631] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.09414482, 42.31448266] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.09166264, 42.31799641] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.11883873, 42.25729092] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12313497, 42.25199321] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13451287, 42.25112731] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.14113494, 42.2504785] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.1349884, 42.24439088] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10232075, 42.27770636] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13285331, 42.28328999] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.08277163, 42.30069678] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.08214358, 42.28610955] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.09009368, 42.28959639] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.09353449, 42.28342054] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.05881265, 42.30274378] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06730289,42.30294506] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06688641, 42.30900278] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06938177, 42.30858389] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06414307, 42.31049927] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13189585, 42.29372642] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06532216, 42.29085319] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.03958956, 42.28772064] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06124927, 42.28729548] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16217582, 42.26390269] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.05084533, 42.27928818] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.04958568, 42.27935236] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16203528, 42.26430344] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.0716572, 42.28689514] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07571634, 42.28645798] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.15973648, 42.26385608] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07495868, 42.28380214] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07160369, 42.27944899] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06167172, 42.27326479] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.0633277, 42.27228848] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06557851, 42.28714727] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07825969, 42.27151289] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.08867747, 42.27134701] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.08897487, 42.27501806] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10160712, 42.26999164] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.1069226, 42.27315602] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10097625, 42.27528067] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12372699, 42.27682745] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.11303448, 42.26808598] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12686281, 42.27024168] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12648695, 42.272215] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13114855, 42.26138747] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13492684, 42.23962534] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13657408, 42.24068461] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10989178, 42.32191702] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.11572904, 42.29959122] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13088521, 42.28728992] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.14830846, 42.26955496] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13150911, 42.29280818] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16106185, 42.27211797] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.1488244, 42.29082085] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.1531342, 42.28852641] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16569107, 42.28574581] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16592791, 42.29340775] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.18326548, 42.28893948] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16418895, 42.27343482] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16573212, 42.27541433] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.15845826, 42.26355332] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.1463314, 42.2700298] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13292493, 42.35015279] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12729622, 42.36074623] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.03556603, 42.36531505] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13556185, 42.36034016] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12972451, 42.35791253] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.14537563, 42.35317647] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.15238156, 42.35846374] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.16464748, 42.35594589] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.17153255, 42.35505127] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.17204243, 42.35533956] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.13635651, 42.24037814] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10688089, 42.31819578] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.11058885, 42.31784603] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12572308, 42.31976182] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12379625, 42.30694493] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.12667038, 42.30485203] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.11239579, 42.29658456] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.09260594, 42.32235768] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.0965599, 42.32444649] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.09651573, 42.32440568] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.03891161, 42.36899713] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.03505423, 42.37373558] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07014826, 42.38300059] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06816654, 42.38304652] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06257019, 42.37263686] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06453423, 42.37095722] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.05586088, 42.36730104] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.0548275, 42.35863067] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06034283, 42.34886725] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06770956, 42.34061352] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06411375, 42.34164809] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07383319, 42.34662274] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07976289, 42.3465262] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.10269419, 42.3395648] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.08559258, 42.35221962] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.05164937, 42.33421622] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.04940128, 42.3389004] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.03765955, 42.34306642] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.06887819, 42.32089878] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.08724308, 42.32834991] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.07054264, 42.32280707] } },
    { "type": "Feature", "geometry": { "type": "Point", "coordinates":[-71.0864092, 42.32892541] } } ] };
//var bos = { "type": "FeatureCollection", "features": [ { "type": "Feature", "geometry": { "type": "Point", "coordinates": [ -71.1897179, 42.228678 ] } } ] };
var geojsonMarkerOptions = {
    radius: 10,
    fillColor: "#ff7800",
    color: "#000",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.8
};

  var map = L.map('map').setView([42.3601, -71.078], 11);


  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: '',
      id: 'mapbox.light'
  }).addTo(map);

  function onEachFeature(feature, layer) {
    var popupContent = "<p>I started out as a GeoJSON " +
                       feature.geometry.type + ", but now I'm a Leaflet vector!</p>";

    if (feature.properties && feature.properties.popupContent) {
        popupContent += feature.properties.popupContent;
    }
    layer.bindPopup(popupContent);
  }
  L.geoJson(bos, {
    pointToLayer: function (feature, latlng) {
      return L.circleMarker(latlng,geojsonMarkerOptions);}

   // filter: function (feature, layer) { return true; },
    //onEachFeature: onEachFeature
  }).addTo(map);
  // L.geoJson(bos, {
  //   filter: function (feature, layer) { return true; },
  //   onEachFeature: onEachFeature
  // }).addTo(map);

</script>
</body>
</html>
